@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Overpass:ital,wght@0,100;0,200;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


body {
  margin: 0;
}
p, h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
}
.card {
  background-color: white;
  padding: 25px 25px 20px 35px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #0009;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.quot-icon{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 6rem;
  margin-left: -20px;
  margin-top: -30px;
  position: fixed;
}

.card__quote{
  font-size: 1.3rem;
  font-weight: 300;
  text-align: justify;
  padding: 10px;
}
.card__author{
  margin-left: auto;
  width: max-content;
  font-weight:600;
  font-style: italic;
  font-size: 1.5rem;
}
.card__btn{
  display: block;
  margin-left: auto;
  color: white;
  border: none;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: filter 100ms ease, transform 100ms ease;
  font-family: 'Overpass', sans-serif;
  font-size: 1.3rem;
}
.card__btn:hover{
  filter: brightness(1.2);
  transform: scale(1.05);
  transition: filter 100ms ease, transform 100ms ease;
}